body {
        padding-top: 70px;
}

* {
    border-radius: 0 !important;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #ff4a59;
    border: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #818181;
    border: none;
}
.glyphicon {
    padding-right: 5px;
}
